.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


/* background imgs */
.bg-image1 {
  position: relative;
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.svMCo7NJhukrM92xpu7bBgHaE8&pid=Api&P=0&w=255&h=171");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.bgimg-2{
  position:relative;
  opacity:0.65;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  }

.bgimg-2{
  background-image:url("https://tse2.mm.bing.net/th?id=OIP.jasOXQyZVKl0xyH4gYXbtQHaEK&pid=Api&P=0&w=304&h=172");
  min-height:400px;
  }


  div {
    display: block;
}
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: rgb(236, 16, 16);
}

/* menu bar */
header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 124px;
    margin-top: 20px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  span.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }

  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }
/*copy-paste ha */
/* skill bars */
/* Make sure that padding behaves as expected */


/* Container for skill bars */
.container2 {
width: 100%; /* Full width */
background-color: #ddd; /* Grey background */
}

.skills {
text-align: right; /* Right-align text */
padding-top: 10px; /* Add top padding */
padding-bottom: 10px; /* Add bottom padding */
color: white; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 60%; background-color: #2196F3;} /* Blue */
.jv {width: 60%; background-color: #f44336;} /* Red */
.myC {width: 50%; background-color: #f9c006;} /* Yellow */

/* side by side img */
/* Three image containers (use 25% for four, and 50% for two, etc) */
.columnimg {
float: left;
width: 33.33%;
padding: 5px;
}

.columnimg1{
float:right;
padding-left:55px;
padding-bottom:80px;
}
/* Clear floats after image containers */
.rowimg::after {
  content: "";
  clear: both;
  display: table;
}

/* responsive menu bar */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
  
}
/* idhar tak */
/* For Smartphones */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  
  span.menu-icon {
    display: block;
  }
  
  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  
  .lesson {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
}

/* CONTACT ME */
 /* Style all font awesome icons */
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Github */
.fa-github {
  font-size:80px;
  width:50px;
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  padding-left:80px;
  color: rgb(7, 177, 245);
}

/* about me pic  */
.responsive {
  width: 100%;
  height: auto;
}

/* about */
.max-width1{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about-content{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.title1{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.title1::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

title1::after{
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}


.about-content .left{
  width: 45%;
}
.about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about-content .right{
  width: 55%;
}
 .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about-content .right .text span{
  color: crimson;
}
 .about-content .right p{
  text-align: justify;
}
.about-content .right a{
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about-content .right a:hover{
  color: crimson;
  background: none;
}

@media (max-width: 1104px) {
   .about-content .left img{
      height: 350px;
      width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width{
      padding: 0 50px;
  }
}

@media (max-width: 947px){
  .max-width{
    max-width: 930px;
}
.about-content .column{
    width: 100%;
}
.about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}
 .about-content .right{
    flex: 100%;
}
}

@media (max-width: 500px) {
  .about-content .right .text{
        font-size: 19px;
    }
}


